<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" >
		<title>LILO.ZONE - Fábrica de Protótipos</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="LILO">
        
        <meta name="google-site-verification" content="rm49dDkG219f1_davMYwHg7DwrvckxUp4LRHe7AF7BQ" />
        <meta name="author" content="">
        <meta name="google-site-verification" content="rm49dDkG219f1_davMYwHg7DwrvckxUp4LRHe7AF7BQ" />

        <!-- Mobile Specific Metas
          ================================================== -->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        
        <link rel="icon" href="i/favicon.ico" type="image/x-icon">
<!--        <link href="css/bootstrap.css" rel="stylesheet" type="text/css">-->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<link href="css/style.css" rel="stylesheet" />
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U"></script>
	</head> 
	<body>		

<!-- Header 2 -->

<header class="padding_top400 padding_bottom400 header_8">

	<!-- Navigation 11 -->

	<nav class="navigation_11 transparent padding_top30 padding_bottom30 top30">
		<div class="container nopadding clearfix">
			<div class="float_right text-right line_height40">
				<a href="/" class="bg_black link white sides20">HOME</a>
			</div>
		</div>
	</nav>

</header>

<!-- Showcase 3 -->

<section id="#sobre" class="showcase_3 bg_white padding_top95 padding_bottom75">
	<div class="container nopadding text-center">
<!--
		<h2 class="font42 light font_second dark_gray">SOBRE</h2>
		<div class="margin_auto top35 bottom85 max_width770 font22 light hyphens text">
			O LILO.ZONE é uma Fábrica de Protótipos.
            Mais que um espaço, é uma grande oficina, um ateliê compartilhado de uso criativo de tecnologia de 300m2 que abriga temas como eletrônica criativa, mapping e tecnologia audiovisual, educação maker, modelagem
            e parametria, biohacking, arquitetura de informação, internet das coisas, wearables, realidade virtual e interatividade.
		</div>
-->
		<div class="row flex justify_between cards_row">
			<a href="#" class="width570 margin_auto bottom30 padding_sides20 padding_top45 radius8 block">
				<div class="margin_auto max_width430">
					<div class="font28 light font_second dark_gray title">OUT/2018</div>
					<div class="top10 font18 light">Aprender brincando, aprender criando.</div>
					<img src="i/out2018.gif" class="top35 width_full" alt="" />
                    <img src="i/out2018.gif" class="bottom35 width_full" alt="" />
				</div>
			</a>
			<a href="#" class="width570 margin_auto bottom30 padding_sides20 padding_top45 radius8 block">
				<div class="margin_auto max_width430">
					<div class="font28 light font_second dark_gray title">SET/2018</div>
					<div class="top10 font18 light">O LILO.ZONE está NOVO.</div>
					<img src="i/set2018.jpg" class="top35 bottom35 width_full" alt="" />
				</div>
			</a>
		</div>
	</div>
</section>

<!-- Feature 16 -->

<!-- Content 5 -->

<section class="content_5 padding_top120 padding_bottom110">
	<div class="container nopadding max_width970">
		<div class="max_width770 margin_auto text-center white inner">
			<div class="font14 semibold uppercase spacing15 pretitle">LILO.ZONE</div>
			<h2 class="top30 font_second light font62">Prototipar é preciso!</h2>
			<div class="font18 light opacity7 top40 text">
				A prototipagem é necessária para validar as ideias no mundo real. O processo de gerar um produto envolve limitações materiais e consiste num ciclo de desenhar, testar, aprimorar o desenho, testar novamente, até chegar na versão final. Daí a importância de estarmos num espaço como o LILO.ZONE, que possui toda a estrutura para montar esses protótipos.
			</div>
		</div>
	</div>
</section>


<!-- Form 12 -->

<section class="form_12 bg_dark_gray padding_top95 padding_bottom85">
	<div class="container nopadding max_width970 text-center white">
		<div class="font14 semibold uppercase spacing15">Newsletter</div>
		<h2 class="top20 font28 font_second light">Fique por dentro das novidades!</h2>
		<form action="form-handler.php" method="post">
			<div class="max_width570 margin_auto top50 inner">
				<div class="row">
					<div class="col-sm-8">
						<i class="far fa-envelope line_height60 absolute left20"></i>
						<input type="email" name="email" placeholder="e-mail" class="bottom30 width_full input size60 border border_transparent_white focus_white radius6 padding_left55 padding_right20" />
					</div>
					<div class="col-sm-4">
						<button class="width_full btn size60 white radius6">INSCREVA-SE!</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>

<!-- Footer 1 -->

<footer class="footer_1 bg_white padding_top75 padding_bottom70">
	<div class="container nopadding">
		<div class="flex justify_between inner">
			<div class="block block_left text-right text-lg-left">
				<p class="font12 semibold spacing15 link dark_blue right30">contato@lilo.zone</p>
			</div>
			<div class="block block_center text-center">
				<div class="font20 font_second dark_blue"><b>Rua João Moura 2152, São Paulo-SP</b></div>
			</div>
			<div class="block block_right text-left text-lg-right">
				<p class="font12 semibold uppercase spacing15 link dark_blue left30">+55 11 948 997 972</p>
				<a href="#" class="font18 semibold uppercase spacing15 link dark_blue left30"><i class="fab fa-instagram"></i></a>
				<a href="#" class="font18 semibold uppercase spacing15 link dark_blue left30"><i class="fab fa-facebook-square"></i></a>
			</div>
		</div>
<!--
		<div class="margin_auto top20 max_width370 font16 light medium_gray text-center">
			Be sure to take a look at our <a href="#" class="link medium_gray underline">Terms of Use</a> and <a href="#" class="link medium_gray underline">Privacy Policy</a>
		</div>
-->
	</div>
</footer>
<!-- forms alerts -->
<div class="alert alert-success alert-dismissible alert-form-success" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	Thanks for your message!
</div>
<div class="alert alert-warning alert-dismissible alert-form-check-fields" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	Please, fill in required fields.
</div>
<div class="alert alert-danger alert-dismissible alert-form-error" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	An error occurred while sending data :(
</div>
<!-- popup with video -->
<div class="overlay"></div>

<div class="video_popup">
	<a class="close">
		<img srcset="i/close_white.png 1x, i/close_white_2x.png 2x" src="i/close_white.png" alt="" />
	</a>
	<div class="flex align_center justify_center width_full height_full iframe_container"></div>
</div>

<script src="js/slick.min.js"></script>
<script src="js/aos.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>