<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" >
		<title>LILO.ZONE - Fábrica de Protótipos</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="LILO">
        
        <meta name="google-site-verification" content="rm49dDkG219f1_davMYwHg7DwrvckxUp4LRHe7AF7BQ" />
        <meta name="author" content="">
        <meta name="google-site-verification" content="rm49dDkG219f1_davMYwHg7DwrvckxUp4LRHe7AF7BQ" />

        <!-- Mobile Specific Metas
          ================================================== -->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        
        <link rel="icon" href="i/favicon.ico" type="image/x-icon">
<!--         <link href="css/bootstrap.css" rel="stylesheet" type="text/css"> -->
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
		<link href="css/style.css" rel="stylesheet" />
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U"></script>
	</head> 
	<body>		
<!-- Navigation Mobile type 2 -->

<a class="open_menu white bg_dark_gray radius_full"><i class="fas fa-bars line_height40"></i></a>
<div class="navigation_mobile type2">
	<a class="close_menu white"><i class="fas fa-times"></i></a>
	<div class="padding_sides40 padding_top60 padding_bottom60 text-center inner">
		<div><a href="#sobre" class="font_second font22 link white bottom20">SOBRE</a></div>
		<div><a href="#participe" class="font_second font22 link white bottom20">PARTICIPE</a></div>
		<div><a href="#iniciativas" class="font_second font22 link white bottom20">INICIATIVAS</a></div>
		
		<div><a href="#" class="font12 link white opacity3 uppercase spacing20 bottom20">F.A.Q.</a></div>
		<div><a href="#" class="font12 link white opacity3 uppercase spacing20 bottom20">Blog</a></div>

		<div class="socials top120">
			<a href="#" target="_blank" class="link white font18 sides10"><i class="fab fa-facebook"></i></a>
			<a href="#" target="_blank" class="link white font18 sides10"><i class="fab fa-linkedin"></i></a>
			<a href="#" target="_blank" class="link white font18 sides10"><i class="fab fa-instagram"></i></a>
		</div>
	</div>
</div>

<!-- Header 2 -->

<header class="padding_top235 padding_bottom160 header_2">

	<!-- Navigation 11 -->

	<nav class="navigation_11 transparent padding_top30 padding_bottom30 top30">
		<div class="container nopadding clearfix">
			<div class="float_right text-right line_height40">
				<a href="#" class="link white sides20">BLOG DE ATIVIDADES</a>
				<div class="inline_block padding_left20 dropdown">
					<a href="#" class="link white" id="navigation_11_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-bars white"></i></a>
					<div class="bg_dark_gray dropdown-menu dropdown-menu-right" aria-labelledby="navigation_11_dropdown">
						<div><a href="#sobre" class="link white">SOBRE</a></div>
						<div><a href="#participe" class="link white">PARTICIPE</a></div>
						<div><a href="#iniciativas" class="link white">INICIATIVAS</a></div>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<div class="container">
<!--		<h1 class="white font_second light font82 text-center">Let's make design <br />fast and easy.</h1>-->
		<div class="max_width600 margin_auto top10 font_first font22 bg_white text-center">
            <img class= "max_width400 top30 bottom30" src="../i/logo.png">
		</div>
		
		<div class="row">
			<form class="col-xl-8 nopadding margin_auto top90 form2" method="POST" action="form-handler.php">
				<input type="email" name="email" placeholder="Email" class="width_full max_width570 input size60 border border_transparent_white radius6 padding_sides20 right25 white" required />
				<button class="width160 btn size60 white radius6">INSCREVA-SE</button>
			</form>
		</div>
		
<!--
		<div class="white text-center top40 header_2_link">
			By signing up, you agree to the 
			<a href="#" class="link blue underline">Terms of Service</a>
		</div>
-->
			
	</div>
</header>

<!-- Showcase 3 -->

<section id="#sobre" class="showcase_3 bg_white padding_top95 padding_bottom75">
	<div class="container nopadding text-center">
		<h2 class="font42 light font_second dark_gray">SOBRE</h2>
		<div class="margin_auto top35 bottom85 max_width770 font22 light hyphens text">
			O LILO.ZONE é uma Fábrica de Protótipos.
            Mais que um espaço, é uma grande oficina, um ateliê compartilhado de uso criativo de tecnologia de 300m2 que abriga temas como eletrônica criativa, mapping e tecnologia audiovisual, educação maker, modelagem
            e parametria, biohacking, arquitetura de informação, internet das coisas, wearables, realidade virtual e interatividade.
		</div>
		<div class="row flex justify_between cards_row">
			<a href="#" class="width570 margin_auto bottom30 padding_sides20 padding_top45 radius8 block">
				<div class="margin_auto max_width430">
					<div class="font28 light font_second dark_gray title">Maker Space</div>
					<div class="top10 font18 light">Um espaço para fazer quase tudo.</div>
					<img src="i/MakerSpace.jpg" class="top35 bottom35 width_full" alt="" />
				</div>
			</a>
			<a href="#" class="width570 margin_auto bottom30 padding_sides20 padding_top45 radius8 block">
				<div class="margin_auto max_width430">
					<div class="font28 light font_second dark_gray title">Wearables Lab</div>
					<div class="top10 font18 light">Um laboratório de circuitos vestíveis.</div>
					<img src="i/WearablesLab.jpg" class="top35 bottom35 width_full" alt="" />
				</div>
			</a>
		</div>
		<div class="row flex justify_between cards_row">
			<a href="#" class="width570 margin_auto bottom30 padding_sides20 padding_top45 radius8 block">
				<div class="margin_auto max_width430">
					<div class="font28 light font_second dark_gray title">Laser Cutter</div>
					<div class="top10 font18 light">Para prototipagem em formatos maiores.</div>
					<img src="i/Laser.jpg" class="top35 bottom35 width_full" alt="" />
				</div>
			</a>
			<a href="#" class="width570 margin_auto bottom30 padding_sides20 padding_top45 radius8 block">
				<div class="margin_auto max_width430">
					<div class="font28 light font_second dark_gray title">Marcenaria</div>
					<div class="top10 font18 light">Ferramentas elétricas e bancada de médio porte.</div>
					<img src="i/Marcenaria.jpg" class="top35 bottom35 width_full" alt="" />
				</div>
			</a>
		</div>
        <div class="row flex justify_between cards_row">
			<a href="#" class="width570 margin_auto bottom30 padding_sides20 padding_top45 radius8 block">
				<div class="margin_auto max_width430">
					<div class="font28 light font_second dark_gray title">Salona</div>
					<div class="top10 font18 light">Para prototipagem em formatos maiores.</div>
					<img src="i/Salona.jpg" class="top35 bottom35 width_full" alt="" />
				</div>
			</a>
			<a href="#" class="width570 margin_auto bottom30 padding_sides20 padding_top45 radius8 block">
				<div class="margin_auto max_width430">
					<div class="font28 light font_second dark_gray title">Bio Hacking</div>
					<div class="top10 font18 light">Um laboratório para bioprototipagem</div>
					<img src="i/BioLiloLab.jpg" class="top35 bottom35 width_full" alt="" />
				</div>
			</a>
		</div>
	</div>
</section>

<!-- Feature 16 -->

<section id="participe" class="feature_16 bg_black padding_top115 padding_bottom40">
	<div class="container nopadding max_width970">
		<h2 class="font42 font_second light light_gray text-center">PARTICIPE</h2>
		<div class="max_width770 margin_auto top30 font18 light medium_gray text-center text">
			Prezamos pelo acesso que vai além de limitações materiais, utilizando a criatividade para aplicar as ferramentas e materiais disponíveis e realizando parcerias para multiplicar possibilidades.
		</div>
		<div class="text-center">
			<img src="i/participe.jpg" class="top70 bottom65 max_width_full bg" alt="" />
		</div>		
		<div class="row">
			<div class="col-md-6 bottom70 text-center block">
				<i class="fas fa-comments font40 light_gray"></i>
				<div class="top20 font18 font_second semibold white title">Café Tecnológico</div>
				<div class="top25 font18 light medium_gray text">
					Um bate-papo mensal com nomes do mundo da economia criativa, arte digital e tecnologia, voltados para o campo da inovação. São gratuitos, abertos ao público e com duração aproximada de duas horas.

				</div>
			</div>
			<div class="col-md-6 bottom70 text-center block">
				<i class="fas fa-wrench font40 light_gray"></i>
				<div class="top20 font18 font_second semibold white title">Ocupação</div>
				<div class="top25 font18 light medium_gray text">
					Acreditamos na economia compartilhada, por isso disponibilizamos a locação do nosso espaço maker para iniciativas parceiras ou eventos que dialoguem com a filosofia da casa.

				</div>
			</div>
		</div>
<!--
		<div class="row">
			<div class="col-md-6 bottom70 text-center block">
				<i class="far fa-keyboard font40 light_gray"></i>
				<div class="top20 font18 font_second semibold white title">Feel Our Design</div>
				<div class="top25 font18 light medium_gray text">
					Samples will show you the feeling on how to play around using the components in the website building process.
				</div>
			</div>
			<div class="col-md-6 bottom70 text-center block">
				<i class="fas fa-link font40 light_gray"></i>
				<div class="top20 font18 font_second semibold white title">Variety of Designs</div>
				<div class="top25 font18 light medium_gray text">
					You can decide whether to create your site using UI Kit blocks or samples. The blocks can merge together in various combinations.
				</div>
			</div>
		</div>
-->
	</div>
</section>

<!-- Content 5 -->

<section class="content_5 padding_top120 padding_bottom110">
	<div class="container nopadding max_width970">
		<div class="max_width770 margin_auto text-center white inner">
			<div class="font14 semibold uppercase spacing15 pretitle">LILO.ZONE</div>
			<h2 class="top30 font_second light font62">Prototipar é preciso!</h2>
			<div class="font18 light opacity7 top40 text">
				A prototipagem é necessária para validar as ideias no mundo real. O processo de gerar um produto envolve limitações materiais e consiste num ciclo de desenhar, testar, aprimorar o desenho, testar novamente, até chegar na versão final. Daí a importância de estarmos num espaço como o LILO.ZONE, que possui toda a estrutura para montar esses protótipos.
			</div>
		</div>
	</div>
</section>
<!-- Team 1 -->

<section id="iniciativas" class="team_1 bg_white padding_top100 padding_bottom45">
	<div class="container nopadding text-center dark_gray">
		<h2 class="font42 font_second light">INICIATIVAS</h2>
		<div class="max_width770 margin_auto top35 font22 light dark_blue hyphens text">
			As iniciativas são a alma empreendedora do LILO.ZONE. Neste espaço elas se desenvolvem e fortalecem a rede entre elas e para fora delas.
		</div>
		<div class="top65 flex justify_between inner">
			<div class="width370 margin_auto bottom70 radius10 padding_top50 block">
				<img src="i/demo_images/team_1_foto2.jpg" alt="" />
				<div class="top25 font22 light title">LILO.THINK</div>
				<div class="top15 font12 semibold spacing10 dark_blue">Metodologias para Protótipos</div>
				<div class="top45 block_socials row no-gutters">
					<div class="col-4 border_right">
						<a href="http://www.lilothink.it/" class="link font22 line_height60 medium_gray"><i class="fas fa-code"></i></a>
					</div>
					<div class="col-4 border_right">
						<a href="https://www.instagram.com/lilo.think/" class="link font22 line_height60 medium_gray"><i class="fab fa-instagram"></i></a>
					</div>
					<div class="col-4">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fab fa-linkedin"></i></a>
					</div>
				</div>
			</div>
			<div class="width370 margin_auto bottom70 radius10 padding_top50 block">
				<img src="i/demo_images/team_1_foto2.jpg" alt="" />
				<div class="top25 font22 light title">Mau Maker</div>
				<div class="top15 font12 semibold pacing10 dark_blue">criar.conhecer.fazer</div>
				<div class="top45 block_socials row no-gutters">
					<div class="col-4 border_right">
						<a href="https://maumaker.com/" class="link font22 line_height60 medium_gray"><i class="fas fa-code"></i></a>
					</div>
					<div class="col-4 border_right">
						<a href="https://www.instagram.com/mau_maker/" class="link font22 line_height60 medium_gray"><i class="fab fa-instagram"></i></a>
					</div>
					<div class="col-4">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fab fa-linkedin"></i></a>
					</div>
				</div>
			</div>
			<div class="width370 margin_auto bottom70 radius10 padding_top50 block">
				<img src="i/demo_images/team_1_foto2.jpg" alt="" />
				<div class="top25 font22 light title">betakit</div>
				<div class="top15 font12 semibold spacing10 dark_blue">Simples como um Click</div>
				<div class="top45 block_socials row no-gutters">
					<div class="col-4 border_right">
						<a href="https://www.betakit.click/" class="link font22 line_height60 medium_gray"><i class="fas fa-code"></i></a>
					</div>
					<div class="col-4 border_right">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fab fa-facebook-square"></i></a>
					</div>
					<div class="col-4">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fab fa-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>
        <div class="top65 flex justify_between inner">
			<div class="width370 margin_auto bottom70 radius10 padding_top50 block">
				<img src="i/demo_images/team_1_foto2.jpg" alt="" />
				<div class="top25 font22 light title">Mee</div>
				<div class="top15 font12 semibold spacing10 dark_blue">Uma nova arquitetura da informação</div>
				<div class="top45 block_socials row no-gutters">
					<div class="col-4 border_right">
						<a href="https://mee.cc/" class="link font22 line_height60 medium_gray"><i class="fas fa-code"></i></a>
					</div>
					<div class="col-4 border_right">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fab fa-instagram"></i></a>
					</div>
					<div class="col-4">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fab fa-linkedin"></i></a>
					</div>
				</div>
			</div>
			<div class="width370 margin_auto bottom70 radius10 padding_top50 block">
				<img src="i/demo_images/team_1_foto2.jpg" alt="" />
				<div class="top25 font22 light title">Alvorada Filmes</div>
				<div class="top15 font12 semibold pacing10 dark_blue">Documentários e Motion Graphics</div>
				<div class="top45 block_socials row no-gutters">
					<div class="col-4 border_right">
						<a href="http://alvoradafilmes.com.br/" class="link font22 line_height60 medium_gray"><i class="fas fa-code"></i></a>
					</div>
					<div class="col-4 border_right">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fab fa-instagram"></i></a>
					</div>
					<div class="col-4">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fab fa-linkedin"></i></a>
					</div>
				</div>
			</div>
<!--
			<div class="width370 margin_auto bottom70 radius10 padding_top50 block">
				<img src="i/demo_images/team_1_foto2.jpg" alt="" />
				<div class="top25 font22 light title">betakit</div>
				<div class="top15 font12 semibold spacing10 dark_blue">Simples como um Click</div>
				<div class="top45 block_socials row no-gutters">
					<div class="col-4 border_right">
						<a href="https://www.betakit.click/" class="link font22 line_height60 medium_gray"><i class="fas fa-code"></i></a>
					</div>
					<div class="col-4 border_right">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fab fa-facebook-square"></i></a>
					</div>
					<div class="col-4">
						<a href="#" class="link font22 line_height60 medium_gray"><i class="fab fa-linkedin"></i></a>
					</div>
				</div>
			</div>
-->
		</div>  
	</div>
</section>


<!-- Form 12 -->

<section class="form_12 bg_dark_gray padding_top95 padding_bottom85">
	<div class="container nopadding max_width970 text-center white">
		<div class="font14 semibold uppercase spacing15">Newsletter</div>
		<h2 class="top20 font28 font_second light">Fique por dentro das novidades!</h2>
		<form action="form-handler.php" method="post">
			<div class="max_width570 margin_auto top50 inner">
				<div class="row">
					<div class="col-sm-8">
						<i class="far fa-envelope line_height60 absolute left20"></i>
						<input type="email" name="email" placeholder="e-mail" class="bottom30 width_full input size60 border border_transparent_white focus_white radius6 padding_left55 padding_right20" />
					</div>
					<div class="col-sm-4">
						<button class="width_full btn size60 white radius6">INSCREVA-SE!</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</section>

<!-- Footer 1 -->

<footer class="footer_1 bg_white padding_top75 padding_bottom70">
	<div class="container nopadding">
		<div class="flex justify_between inner">
			<div class="block block_left text-right text-lg-left">
				<p class="font12 semibold spacing15 link dark_blue right30">contato@lilo.zone</p>
			</div>
			<div class="block block_center text-center">
				<div class="font20 font_second dark_blue"><b>Rua João Moura 2152, São Paulo-SP</b></div>
			</div>
			<div class="block block_right text-left text-lg-right">
				<p class="font12 semibold uppercase spacing15 link dark_blue left30">+55 11 948 997 972</p>
				<a href="#" class="font18 semibold uppercase spacing15 link dark_blue left30"><i class="fab fa-instagram"></i></a>
				<a href="#" class="font18 semibold uppercase spacing15 link dark_blue left30"><i class="fab fa-facebook-square"></i></a>
			</div>
		</div>
<!--
		<div class="margin_auto top20 max_width370 font16 light medium_gray text-center">
			Be sure to take a look at our <a href="#" class="link medium_gray underline">Terms of Use</a> and <a href="#" class="link medium_gray underline">Privacy Policy</a>
		</div>
-->
	</div>
</footer>
<!-- forms alerts -->
<div class="alert alert-success alert-dismissible alert-form-success" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	Thanks for your message!
</div>
<div class="alert alert-warning alert-dismissible alert-form-check-fields" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	Please, fill in required fields.
</div>
<div class="alert alert-danger alert-dismissible alert-form-error" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	An error occurred while sending data :(
</div>
<!-- popup with video -->
<div class="overlay"></div>

<div class="video_popup">
	<a class="close">
		<img srcset="i/close_white.png 1x, i/close_white_2x.png 2x" src="i/close_white.png" alt="" />
	</a>
	<div class="flex align_center justify_center width_full height_full iframe_container"></div>
</div>

<script src="js/slick.min.js"></script>
<script src="js/aos.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>
